source http://nuget.org/api/v2

nuget FParsec framework: net45
nuget Thrift framework: net45
nuget FSharp.TypeProviders.StarterPack

nuget FAKE framework: net45
nuget NUnit.Runners framework: net45
nuget NUnit framework: net45